.mypage
  .mypage__contents
    .l-content
      %section.l-chapter-container
        %h2.l-chapter-head &#x30AF;&#x30EC;&#x30B8;&#x30C3;&#x30C8;&#x30AB;&#x30FC;&#x30C9;&#x60C5;&#x5831;&#x5165;&#x529B;
        %form#add-card-form.l-single-inner{:action => "https://www.mercari.com/jp/mypage/card/add/", "data-adyen-id" => "card-form", :method => "POST", :novalidate => "novalidate"}
          %input{:name => "__csrf_value", :type => "hidden", :value => "39966aaca658568b6cfbe55e009625f06b373566a59f5d6f1ce691b3635d3aaa13e41966a0bcacd765b2489160573093791b09555f063278c2c7cdfbe9ec71d49"}
            .l-single-content
              .form-group
                %label{:for => "payment_card_no"} &#x30AB;&#x30FC;&#x30C9;&#x756A;&#x53F7;
                %span.form-require &#x5FC5;&#x9808;
                %input#payment_card_no.input-default{"data-input-type" => "card", :maxlength => "19", :placeholder => "半角数字のみ", :type => "text", :value => ""}
                  %ul#card-no-error-wrapper.has-error-text
                  %ul.signup-card-list
                    %li
                      %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3371656568", :width => "49"}
                      %li
                        %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3371656568", :width => "34"}
                        %li
                          %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3371656568", :width => "30"}
                          %li
                            %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3371656568", :width => "32"}
                            %li
                              %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3371656568", :width => "21"}
                              %li
                                %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3371656568", :width => "32"}
                                %li
                                  %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3371656568", :width => "32"}
                              .form-group.signup-form-expire
                                %label{:for => "payment_card_expire"} &#x6709;&#x52B9;&#x671F;&#x9650;
                                %span.form-require &#x5FC5;&#x9808;
                                %br
                                  .select-wrap
                                    %select#payment_card_expire_mm.select-default
                                      %option{:value => "01"} 01
                                      %option{:value => "02"} 02
                                      %option{:value => "03"} 03
                                      %option{:value => "04"} 04
                                      %option{:value => "05"} 05
                                      %option{:value => "06"} 06
                                      %option{:value => "07"} 07
                                      %option{:value => "08"} 08
                                      %option{:value => "09"} 09
                                      %option{:value => "10"} 10
                                      %option{:value => "11"} 11
                                      %option{:value => "12"} 12
                                    %i.fas.fa-angle-down
                                  %span.span_month &#x6708;
                                  %ul#expire-mm-error-wrapper.has-error-text
                                  .select-wrap
                                    %select#payment_card_expire_yy.select-default
                                      %option{:value => "18"} 18
                                      %option{:value => "19"} 19
                                      %option{:value => "20"} 20
                                      %option{:value => "21"} 21
                                      %option{:value => "22"} 22
                                      %option{:value => "23"} 23
                                      %option{:value => "24"} 24
                                      %option{:value => "25"} 25
                                      %option{:value => "26"} 26
                                      %option{:value => "27"} 27
                                      %option{:value => "28"} 28
                                    %i.fas.fa-angle-down
                                  %span.span_year &#x5E74;
                                  %ul#expire-yy-error-wrapper.has-error-text
                                .form-group
                                  %label{:for => "payment_card_security_code"} &#x30BB;&#x30AD;&#x30E5;&#x30EA;&#x30C6;&#x30A3;&#x30B3;&#x30FC;&#x30C9;
                                  %span.form-require &#x5FC5;&#x9808;
                                  %input#payment_card_security_code.input-default{:placeholder => "カード背面4桁もしくは3桁の番号", :type => "number", :value => ""}
                                    %ul#security-code-error-wrapper.has-error-text
                                    .signup-seqcode
                                      .signup-seqcode-text{"data-js" => "show-tips-toggle"}>
                                        %span.form-question{:class => "class="}>
                                        span_card_number"&gt;?
                                      \&#x30AB;&#x30FC;&#x30C9;&#x88CF;&#x9762;&#x306E;&#x756A;&#x53F7;&#x3068;&#x306F;&#xFF1F;
                                    .signup-seqcode-info{"data-js" => "show-tips-content"}
                                      \&#x30AB;&#x30FC;&#x30C9;&#x306E;&#x88CF;&#x9762;&#x3092;&#x3054;&#x53C2;&#x7167;&#x304F;&#x3060;&#x3055;&#x3044;&#x3002;
                                      %br
                                        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?3371656568", :width => "240"}
                                    %input#user_id{:name => "user_id", :type => "hidden", :value => "639070843"}
                                      %input#encrypted_card_data{:name => "encrypted_card_data", :type => "hidden"}
                                        %p#primary-error.has-error-text
                                        %input{:name => "after_save_callback", :type => "hidden", :value => ""}
                                          %button#submit-button.btn-default.btn-red{:type => "button"} &#x8FFD;&#x52A0;&#x3059;&#x308B;
                                        %script{:async => "", :src => "https://p01.mul-pay.jp/ext/js/token.js"}
                                        %script{:async => "", :src => "//www-mercari-jp.akamaized.net/assets/js/get_gmopg_card_token.js?3015979246"}
    .mypage__sidebar
      = render partial: 'users/sidebar'
