= render partial: 'items/shared/header'

.mypage-2
  .mypage__contents
    .l-content-2
      %section.l-chapter-container-2
        %h2.l-chapter-head-2 支払い方法
        .l-single-inner-2
          %section
            .l-single-content-2
              %h3.l-chapter-sub-head クレジットカード一覧
            %ul.settings-payment-list-2
          %section.settings-add-card-2
            .l-single-content-2
              %a.btn-default-2.red-btn-2{:href => "https://www.mercari.com/jp/mypage/card/create/"}
                %i.far.fa-credit-card
                クレジットカードを追加する
          .settings-not-regist-2
            %a.a_bottom{:href => "/jp/help_center/category/6/", :target => "_blank"}
              %span.method_of_payment 支払い方法について
              %i.fas.fa-angle-right
    .mypage__sidebar
      = render partial: 'users/sidebar'

= render partial: 'items/shared/footer'
