<div class="single-container">
  <div class="single-header">

  </div>
  <div class="single-main">
    <section class="l-single-container">
      <div class="l-single-inner">
        <div class="l-single-content">

        </div>
      </div>
    </section>

  </div>
  <div class="single-footer">

  </div>
</div>
