<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<section class="mypage-user-icon">
  <a href="#">
    <figure>
      <img src="//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png" alt="" width="60" height="60">
    </figure>
    <h2>
      hanehane
    </h2>
    <div class="mypage-number">
      <div class="mypage-number">
      <span>評価</span> <span class="bold">0</span>
      <span>出品数</span><span class="bold">0</span>
      </div>
    </div>
  </a>
</section>
<section class="mypage-tab-container-notification-todo">

  <ul class="nav nav-tabs ">
    <li class="nav-item ">
      <a href="#tab1" class="tab nav-link active" data-toggle="tab">お知らせ</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="tab nav-link" data-toggle="tab">やることリスト</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <ul>
        <li>
          <a hret="#">
            <img class="hanehane" data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
            <i class="fa fa-angle-right fa-2x"></i>
          </a>
        </li>
        <li>
          <a hret="#">
            <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
            <i class="fa fa-angle-right fa-2x"></i>
          </a>
        </li>
        <li>
          <a hret="#">
            <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
            <i class="fa fa-angle-right fa-2x"></i>
          </a>
        </li>
        <li>
          <a hret="#">
            <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
            <i class="fa fa-angle-right fa-2x"></i>
          </a>
        </li>
        <li class="mypage-go-list">
          <a href="#">一覧を見る</a>
        </li>
      </ul>
    </div>
    <div id="tab2" class="tab-pane">
      <ul>
        <li>
          <a hret="#">
            <img class="hanehane" data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
            <i class="fa fa-angle-right fa-2x"></i>
          </a>
        </li>
        <li>
          <a hret="#">
            <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
            <i class="fa fa-angle-right fa-2x"></i>
          </a>
        </li>
        <li class="mypage-go-list">
          <a href="#">一覧を見る</a>
        </li>
      </ul>
    </div>
  </div>

</section>

<section class="mypage-tab-container">
  <h2>
    購入した商品
  </h2>

  <ul class="nav nav-tabs ">
    <li class="nav-item ">
      <a href="#tab3" class="tab nav-link active" data-toggle="tab">取引中</a>
    </li>
    <li class="nav-item">
      <a href="#tab4" class="tab nav-link" data-toggle="tab">過去の取引</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="tab3" class="tab-pane active">
      <ul>
        <li>
          <a hret="#">
            <img class="hanehane" data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
            <i class="fa fa-angle-right fa-2x"></i>
          </a>
        </li>
        <li class="mypage-go-list">
          <a href="#">一覧を見る</a>
        </li>
      </ul>
   </div>

   <div id="tab4" class="tab-pane">
     <ul>
       <li>
         <a hret="#">
           <img class="hanehane" data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class=" lazyloaded" alt="" src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png">
           <i class="fa fa-angle-right fa-2x"></i>
         </a>
       </li>
       <li class="mypage-go-list">
         <a href="#">一覧を見る</a>
       </li>
     </ul>
  </div>
</section>
