<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
<div id="carousel-sample" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carousel-sample" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-sample" data-slide-to="1"></li>
        <li data-target="#carousel-sample" data-slide-to="2"></li>
        <li data-target="#carousel-sample" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="top-main-visual">
            <div class="top-main-visual-content">
              <h2>
                スマホでかんたん
                <br>
                フリマアプリ
              </h2>

              <p>
                メルカリはスマホカメラからすぐに出品のできる
                <br>
                購入時も安心な独自システムのアプリです
              </p>

              <div top-main-visual-store clearfix>
                <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" class="pull-left">
                  <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?206587138" alt="" height="50">
                </a>

                <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" target="_blank" class="pull-left">
                  <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?206587138" alt="" height="50" style="margin-left:15px;">
                </a>
              </div>
            </div>
            <div class="top-main-visual-img">
              <img class="one" src="//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?206587138" alt="...">
            </div>
          </div>
        <div class="carousel-caption">
        </div>
        </div>
        <div class="item item2">
          <div class="top-main-visual">
             <div class="carousel-caption">
             </div>
          </div>
        </div>

        <div class="item item3">
          <div class="top-main-visual">
            <div class="carousel-caption">
            </div>
          </div>
        </div>

        <div class="item item4">
          <div class="top-main-visual">
            <div class="carousel-caption">
            </div>
          </div>
        </div>

    </div>

    <a class="left carousel-control" href="#carousel-sample" role="button" data-slide="prev">
        <img class="glyphicon-chevron-left" src="https://www.mercari.com/jp/assets/img/common/jp/top/carousel-prev.png">
        <span class="sr-only">戻る</span>
    </a>
    <a class="right carousel-control" href="#carousel-sample" role="button" data-slide="next">
        <img class="glyphicon-chevron-right" src="https://www.mercari.com/jp/assets/img/common/jp/top/carousel-next.png">
        <span class="sr-only">次へ</span>
    </a>
</div>
