<div class="single-container">
  <div class="single-header">
    <h1>
      <a href="https://www.mercari.com/jp/">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?819506670" height="49px" width="185px" alt="mercari">
      </a>
    <h1>
  </div>
  <div class="single-main">
    <div class="login-panel">
      <div class=" login-no-account">
        <p>
          アカウントをお持ちでない方はこちら
        </p>
        <a href="https://www.mercari.com/jp/signup/">
          新規会員登録
        </a>
      </div>

      <div class="login-form-inner">
        <button id="facebook-login" class="btn-default btn-sns btn-sns-facebook">
        <i class="icon-facebook"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="26" height="26"viewBox="0 0 224 224"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#ffffff"><path d="M179.2,29.86667h-134.4c-8.25067,0 -14.93333,6.68267 -14.93333,14.93333v134.4c0,8.25067 6.68267,14.93333 14.93333,14.93333h74.66667v-67.2h-22.4v-22.4h22.4v-12.0288c0,-22.77333 11.09547,-32.7712 30.02347,-32.7712c9.06453,0 13.85813,0.672 16.128,0.97813v21.42187h-12.90987c-8.03413,0 -10.8416,4.24107 -10.8416,12.82773v9.57227h23.54987l-3.19573,22.4h-20.35413v67.2h37.33333c8.25067,0 14.93333,-6.68267 14.93333,-14.93333v-134.4c0,-8.25067 -6.69013,-14.93333 -14.93333,-14.93333z"></path></g></g></svg>
        </i>
        Facebookでログイン
        </button>

        <button id="google-login" class="btn-default btn-sns btn-sns-google">
        <i class="icon-google-plus"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="32" height="26"viewBox="0 0 224 224"style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,224v-224h224v224z" fill="none"></path><g fill="#ffffff"><g id="surface1"><path d="M77,49c-34.79,0 -63,28.21 -63,63c0,34.79 28.21,63 63,63c34.79,0 63,-28.21 63,-63c0,-4.3225 -0.4725,-8.54 -1.295,-12.6l-0.35,-1.4h-61.355v21h42c-3.3425,19.8625 -21.1925,35 -42,35c-23.205,0 -42,-18.795 -42,-42c0,-23.205 18.795,-42 42,-42c10.5,0 20.0725,3.885 27.44,10.255l15.05,-14.735c-11.2,-10.255 -26.11,-16.52 -42.49,-16.52zM175,77v21h-21v14h21v21h14v-21h21v-14h-21v-21z"></path></g></g></g></svg>
        </i>
        Googleでログイン
        </button>

      </div>

      <div class="login-form-inner">
        <%= form_with model: @users do |form| %>
          <div class="form-group">
            <%= form.text_field :email, class: "email_form", placeholder: "メールアドレス" %>
          </div>
          <div class="form-group">
            <%= form.password_field :password, class: "password_form", placeholder: "パスワード" %>
          </div>

            <img class="not_robot" src="https://www.souichi.club/wp-content/uploads/WordPress-340.jpg">

            <%= form.submit "ログイン", class:"submit-button"%>
            <a href="#" class="forget-password">パスワードをお忘れの方</a>
        <% end %>
      </div>

   </div>

  </div>
  <div class="single-footer">

  </div>
</div>
