<div class="single-container">
  <div class="single-header">
    <h1>
      <a href="https://www.mercari.com/jp/">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?819506670" height="49px" width="185px" alt="mercari">
      </a>
    <h1>
  </div>
  <div class="single-main">
    <div class="login-panel">



   </div>

  </div>
  <div class="single-footer">

  </div>
</div>
