
.slick{
  li{
    height: 390px;
  }
  }
  .slide1{
    background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg");
    background-size: cover;
    .top-main-visual{
      @include carousel-visual();
      .top-main-visual-content{
        float: left;
        h2{
          margin: 40px 0  20px 0;
          font-size: 60px;
          line-height: 1.2;
          font-family: cursive;
          font-weight: bold;
        }
        p{
          font-size: 18px;
          margin: 10px 0 30px 0;
          line-height: 1.77778;
        }
        .top-main-visual-store{
          width:100%;
          a{
            display: block;
            .google-icon{
              margin-left: 20px;
            }
          }
        }
      }
      .top-main-visual-img{
        float:right;
        img{
          height: 390px;
        }
      }
    }
  }
  .slide2{
    background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/banner-bokurano-heisei.jpg");background-position: center;


  }
  .slide3{
    background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/banner-bokurano-heisei-entertainment.png");
    background-position: center;
  }
  .slide4{
    background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-welcome.png");
    background-position: center;
}

.slick-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.prev{
  left: 80px;
  width: 0;
  height: 0;
  z-index: 1;
}
.next{
  right: 80px;
  width: 0;
  height: 0;
}
.slick-dots{
  bottom: 20px !important;
  li {
    button:before{
      font-size:14px !important;
      opacity: 0.1;
    }
  }
  li.slick-active{
    button:before{
      opacity: 1;
    }
  }
}
