.carousel-inner{
  .active{
    background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg);
    background-size: cover;
    .top-main-visual{
      @include carousel-visual();
      .top-main-visual-content{
        float: left;
        h2{
          margin: 40px 0  20px 0;
          font-size: 60px;
          line-height: 1.2;
          font-family: cursive;
          font-weight: bold;
        }
        p{
          font-size: 18px;
          margin: 10px 0 30px 0;
          line-height: 1.77778;
        }
        .top-main-visual-store{
          width:100%;
          a{
            display: block;
            .google-icon{
              margin-left: 20px;
            }
          }
        }
      }
      .top-main-visual-img{;
        float:right;
        img{
          height: 390px;
        }
      }
    }
  }
  .item2{
    background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-new-register.png);
    background-size: cover;
    .top-main-visual{
      @include carousel-visual();
    }
  }
  .item3{
    background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-kusanagi-xmas.jpg);
    background-size: cover;
    .top-main-visual{
      @include carousel-visual();
    }
  }
  .item4{
    background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/top-banner-welcome.png);
    background-position:-270px 0;
    .top-main-visual{
      @include carousel-visual();
    }
  }
}
