// footer上部
.app-banner{
  background: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?61682159);
  background-position: center;
  .app-banner-pc{
    display: block;
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: #fff;
  }
}

.app-banner-pc-inner{
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  .app-banner-pc-inner-h2{
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 24px;
    margin: 0;
    line-height: 1.4;
  }
  .app-banner-pc-inner-p{
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 35px;
    margin: 10px 0 0;
  }
  .app-banner-icon.clearfix{
    margin: 20px 0 0;
    .app-banner-icon-figure{
      float: left;
      .app-banner-icon-img{
        vertical-align: middle;
      }
    }
    .app-banner-icon-ul{
      float: left;
      margin: 0 0 0 24px;
      line-height: 68px;
      list-style: none;
      .app-banner-icon-li{
        float: left;
        .app-banner-icon-a{
          display: block;
          line-height: 68px;
          color: #0099e8;
          text-decoration: none;
          touch-action: manipulation;
          .app-banner-icon-img{
            vertical-align: middle;
          }
        }
      }
      .app-banner-icon-li:last-child{
        margin: 0 0 0 16px;
        float: left;
        .app-banner-icon-a {
          display: block;
          line-height: 68px;
          color: #0099e8;
          text-decoration: none;
          touch-action: manipulation;
          .app-banner-icon-img {
            vertical-align: middle;
          }
        }
      }
      .clearfix:after {
        content: '';
        display: block;
        clear: both;
        border-style: solid;
        border-width: 0;
        text-decoration: inherit;
        vertical-align: inherit;
        box-sizing: inherit;
      }
    }
    .clearfix:after {
      content: '';
      display: block;
      clear: both;
      border-style: solid;
      border-width: 0;
      text-decoration: inherit;
      vertical-align: inherit;
      box-sizing: inherit;
    }
  }
}

.app-banner-pc-figure{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  .app-banner-pc-figure-img{
    width: 100%;
    vertical-align: middle;
  }
}

// footer下部
.global-footer{
  padding: 60px 0;
  text-align: center;
  background: #212121;
  color: #fff;
  .global-footer-nav {
    width: 1020px;
    margin: 0 auto;
  }
}

.global-footer-nav-ul {
  list-style: none;
  .download-app{
    color: #333;
    display: none;
    text-align: center;
    .download-app-a{
      display: block;
      color: #fff;
      text-decoration: none;
      .download-app-img{
        vertical-align: middle;
      }
    }
  }
  .footer-cell{
    color: #333;
    display: inline-block;
    width: 23%;
    margin: 0 2% 0 0;
    vertical-align: top;
    padding: 0;
    .footer-head{
      color: #fff;
      font-size: 16px;
      line-height: 1.4;
      font-weight: bold;
    }
    .footer-cell-ul{
      list-style: none;
      .footer-cell-li:first-child{
        margin: 24px 0 0;
        color: #333;
        .footer-cell-a {
          // transition: all .3s;
          display: block;
          color: #fff;
          touch-action: manipulation;
          font-size: 14px;
        }
        .footer-cell-a:hover {
          opacity: 0.5;
        }
      }
      .footer-cell-li {
        margin: 16px 0 0;
        color: #333;
        .footer-cell-a {
          // transition: all .3s;
          display: block;
          color: #fff;
          touch-action: manipulation;
          font-size: 14px;
        }
        .footer-cell-a:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

// 言語選択部分
.footer-cell:last-child{
  margin: 0;
  color: #333;
  display: inline-block;
  width: 23%;
  vertical-align: top;
  .footer-head{
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
  }
  .footer-nav-lang{
    list-style: none;
    .footer-cell-li:first-child{
      margin: 24px 0 0;
      color: #333;
      .footer-nav-lang-a{
        width: auto;
        margin: 0 auto;
        opacity: .3;
        display: block;
        color: #fff;
        font-size: 14px;
        touch-action: manipulation;
        .footer-nav-lang-img{
          margin: 0 8px 0 0;
          vertical-align: middle;
        }
      }
    }
    .footer-cell-li {
      margin: 16px 0 0;
      color: #333;
      .footer-nav-lang-a{
        width: auto;
        margin: 0 auto;
        opacity: .3;
        display: block;
        color: #fff;
        font-size: 14px;
        touch-action: manipulation;
        .footer-nav-lang-img{
          margin: 0 8px 0 0;
          vertical-align: middle;
        }
      }
    }
    .footer-cell-li {
      margin: 16px 0 0;
      color: #333;
      .footer-nav-lang-a.active {
        opacity: 1.0;
        width: auto;
        margin: 0 auto;
        display: block;
        color: #fff;
        touch-action: manipulation;
      }
    }
  }
}

// コピーライト部分
.footer-logo-a{
  display: block;
  margin: 40px 0 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
  .footer-logo-img{
    vertical-align: middle;
  }
}
.footer-copyright{
  margin: 8px 0 0;
  text-align: center;
  .footer-copyright-small {
    font-size: 14px;
  }
}

// 出品丸ボタン部分
.footer-sell-btn{
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  text-decoration: none !important;
  .footer-sell-div{
    color: white;
    margin: 32px 0 0;
  }
  .fas.fa-camera.fa-3x{
    color: white;
    font-size: 60px;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    .fas.fa-camera.fa-3x:before {
    content: '\f030';
    }
  }
}
