<%=render partial: 'items/shared/header' %>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>

<section class="item__box-container">
  <h1 class="item-name">
    正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
  </h1>
  <div class="item-main-content">
    <div class="item-image">

      <div class="active-image">
        <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823">
      </div>

      <div class="images">
        <ol>
          <li>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823">
          </li>
          <li>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_2.jpg?1539045823">
          </li>
          <li>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_3.jpg?1539045823">
          </li>
          <li>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_4.jpg?1539045823">
          </li>
        </ol>
      </div>

    </div>

  </div>
