<%=render partial: 'items/shared/header' %>

<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>

<section class="item__box-container">
  <h1 class="item-name">
    正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
  </h1>
  <div class="item-main-content">
    <div class="item-image">

      <div class="active-image">
        <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823">
      </div>

      <div class="images">
        <ol>
          <li>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_1.jpg?1539045823">
          </li>
          <li>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_2.jpg?1539045823">
          </li>
          <li>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_3.jpg?1539045823">
          </li>
          <li>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70068440240_4.jpg?1539045823">
          </li>
        </ol>
      </div>

    </div>

    <div class="item-tabel">
      <table class="item-detail-table">
        <tbody>
          <tr>
            <th>
              出品者
            </th>
            <td>
              <a href="#">DPS(ぷーんです)＠大人ふるぎ養成講座</a>
              <div>
                <div class="item-user-raiting">
                  <i class="fas fa-grin"></i><span>618</span>
                </div>
                <div class="item-user-raiting">
                  <i class="icon fa fa-meh" style="yellow"><span>22</span></i>
                </div>
                <div class="item-user-raiting">
                  <i class="icon fa fa-frown"><span>3</span></i>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th>
              カテゴリー
            </th>
            <td>
              <a href="#">レディース</a>
              <a href="#">
                <div class="sub-category">
                  <i class="fa fa-angle-right fa-lg"></i>
                  バッグ
                </div>
                <div class="sub--sub-category">
                  <i class="fa fa-angle-right fa-lg"></i>
                  ショルダーバッグ
                </div>
              </a>
            </td>
          </tr>

          <tr>
            <th>
              ブランド
            </th>
            <td>
              <a href="#">コーチ</a>
            </td>
          </tr>

          <tr>
            <th>
              商品の状態
            </th>
            <td>
              やや傷や汚れあり
            </td>
          </tr>

          <tr>
            <th>
              配送料の負担
            </th>
            <td>
              送料込み(出品者負担)
            </td>
          </tr>

          <tr>
            <th>
              配送の方法
            </th>
            <td>
              らくらくメルカリ便
            </td>
          </tr>

          <tr>
            <th>
              配送元地域
            </th>
            <td>
              <a href="#">兵庫県</a>
            </td>
          </tr>

          <tr>
            <th>
              発送日の目安
            </th>
            <td>
              1~2日で発送
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

  <div class="item-price-box">
    <span class="item-price">¥ 3,380</span>
    <span class="item-tax">(税込)</span>
    <span class="item-shipping">送料込み</span>
  </div>

  <div class="item-buy-btn disabled">
    売り切れました
  </div>
