= render partial: 'items/shared/header'
= render partial: 'items/shared/carousel'

%section.pickup-container_4
  %h2.pickup-head_4 ピックアップカテゴリー
  %section.all_4
    %section.items-box-container_4.clearfix
      %h3.text-center_4
        %a.a_top{:href => "???????????????????????????"}
          メンズ 新着アイテム
      .items-box-content_4.clearfix
        %section.items-box_4
          %a.white{:href => "https://item.mercari.com/jp/m83088254018/"}
            %figure.items-box-photo_4
              %img.is-higher-width.lazyloaded{:alt => "vans×spitfire コラボスニーカー", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m36848600674_1.jpg?1540711321", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m36848600674_1.jpg?1540711321"}/
            .items-box-body_4
              %h3.items-box-name_4.font-2_4 vans×spitfire コラボスニーカー
              .items-box-num_4.clearfix
                .items-box-price_4.font-5_4 ¥ 9,500
                .items-box-likes_4.font-2_4
                  %i.icon-like-border_4
                  %i.far.fa-heart
                  %span.item-box_likes-count_4 7
                %p.item-box-tax_4 (税込)
        %section.items-box_4
          %a.white{:href => "https://item.mercari.com/jp/m55776481939/"}
            %figure.items-box-photo_4
              %img.is-higher-width.lazyloaded{:alt => "サングラス レイバン", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55776481939_1.jpg?1544078380", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55776481939_1.jpg?1544078380"}/
            .items-box-body_4
              %h3.items-box-name_4.font-2_4 サングラス レイバン
              .items-box-num_4.clearfix
                .items-box-price_4.font-5_4 ¥ 5,800
                %p.item-box-tax_4 (税込)
        %section.items-box_4
          %a.white{:href => "https://item.mercari.com/jp/m15257552040/"}
            %figure.items-box-photo_4
              %img.is-higher-width.lazyloaded{:alt => "Abu Garcia ベスト 釣り 川釣り", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15257552040_1.jpg?1544415959", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15257552040_1.jpg?1544415959"}/
            .items-box-body_4
              %h3.items-box-name_4.font-2_4 Abu Garcia ベスト 釣り 川釣り
              .items-box-num_4.clearfix
                .items-box-price_4.font-5_4 ¥ 3,500
                %p.item-box-tax_4 (税込)
        %section.items-box_4
          %a.white{:href => "https://item.mercari.com/jp/m90487871938/"}
            %figure.items-box-photo_4
              %img.is-higher-height.lazyloaded{:alt => "コアウッドネックレス", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m90487871938_1.jpg?1544415959", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m90487871938_1.jpg?1544415959"}/
            .items-box-body_4
              %h3.items-box-name_4.font-2_4 コアウッドネックレス
              .items-box-num_4.clearfix
                .items-box-price_4.font-5_4 ¥ 3,500
                %p.item-box-tax_4 (税込)
      .view-all_4
        %a.a_bottom{:href => "??????????????????????"} すべての商品を見る


  %section.all_4
    %section.items-box-container_4.clearfix
      %h3.text-center_4
        %a.a_top{:href => "????????????????????"}
          レディース 新着アイテム
      .items-box-content_4.clearfix
        %section.items-box_4
          %a.white{:href => "https://item.mercari.com/jp/m74919097185/"}
            %figure.items-box-photo_4
              %img.lazyloaded{:alt => "PRADA プラダ 二つ折り財布", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m38135245411_1.jpg?1543414161", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m38135245411_1.jpg?1543414161"}/
            .items-box-body_4
              %h3.items-box-name_4.font-2_4 PRADA プラダ 二つ折り財布
              .items-box-num_4.clearfix
                .items-box-price_4.font-5_4 ¥ 5,300
                .items-box-likes_4.font-2_4
                  %i.icon-like-border_4
                  %i.far.fa-heart
                  %span.item-box_likes-count_4 3
                %p.item-box-tax_4 (税込)
        %section.items-box_4
          %a.white{:href => "https://item.mercari.com/jp/m75317488026/"}
            %figure.items-box-photo_4
              %img.lazyloaded{:alt => "バーバリー スカート", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m75317488026_1.jpg?1540440334", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m75317488026_1.jpg?1540440334"}/
            .items-box-body_4
              %h3.items-box-name_4.font-2_4 バーバリー スカート
              .items-box-num_4.clearfix
                .items-box-price_4.font-5_4 ¥ 5,300
                .items-box-likes_4.font-2_4
                  %i.icon-like-border_4
                  %span
                %p.item-box-tax_4 (税込)
        %section.items-box_4
          %a.white{:href => "https://item.mercari.com/jp/m11926506700/"}
            %figure.items-box-photo_4
              %img.is-higher-height.lazyloaded{:alt => "COLZA トップス 秋 茶色", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11926506700_1.jpg?1543417634", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11926506700_1.jpg?1543417634"}/
            .items-box-body_4
              %h3.items-box-name_4.font-2_4 COLZA トップス 秋 茶色
              .items-box-num_4.clearfix
                .items-box-price_4.font-5_4 ¥ 1,100
                .items-box-likes_4.font-2_4
                  %i.icon-like-border_4
                  %i.far.fa-heart
                  %span.item-box_likes-count_4 4
                %p.item-box-tax_4 (税込)
        %section.items-box_4
          %a.white{:href => "https://item.mercari.com/jp/m92396000322/"}
            %figure.items-box-photo_4
              %img.is-higher-height.lazyloaded{:alt => "ボレロマフラー", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m32913770351_1.jpg?1544518851", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m32913770351_1.jpg?1544518851"}/
            .items-box-body_4
              %h3.items-box-name_4.font-2_4 ボレロマフラー
              .items-box-num_4.clearfix
                .items-box-price_4.font-5_4 ¥ 9,800
                .items-box-likes_4.font-2_4
                  %i.icon-like-border_4
                  %span
                %p.item-box-tax_4 (税込)
      .view-all_4
        %a.a_bottom{:href => "?????????????????????????"} すべての商品を見る

= render partial: 'items/shared/footer'
