= render partial: 'items/shared/header'
= render partial: 'items/shared/carousel'

%section.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  %section.all
    %section.items-box-container.clearfix
      %h3.text-center
        %a.a_top{:href => "???????????????????????????"}
          メンズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a.white{:href => "https://item.mercari.com/jp/m83088254018/"}
            %figure.items-box-photo
              %img.is-higher-width.lazyloaded{:alt => "vans×spitfire コラボスニーカー", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m36848600674_1.jpg?1540711321", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m36848600674_1.jpg?1540711321"}/
            .items-box-body
              %h3.items-box-name.font-2 vans×spitfire コラボスニーカー
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 9,500
                .items-box-likes.font-2
                  %i.icon-like-border
                  %i.far.fa-heart
                  %span.item-box_likes-count 7
                %p.item-box-tax (税込)
        %section.items-box
          %a.white{:href => "https://item.mercari.com/jp/m55776481939/"}
            %figure.items-box-photo
              %img.is-higher-width.lazyloaded{:alt => "サングラス レイバン", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55776481939_1.jpg?1544078380", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m55776481939_1.jpg?1544078380"}/
            .items-box-body
              %h3.items-box-name.font-2 サングラス レイバン
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 5,800
                %p.item-box-tax (税込)
        %section.items-box
          %a.white{:href => "https://item.mercari.com/jp/m15257552040/"}
            %figure.items-box-photo
              %img.is-higher-width.lazyloaded{:alt => "Abu Garcia ベスト 釣り 川釣り", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15257552040_1.jpg?1544415959", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15257552040_1.jpg?1544415959"}/
            .items-box-body
              %h3.items-box-name.font-2 Abu Garcia ベスト 釣り 川釣り
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 3,500
                %p.item-box-tax (税込)
        %section.items-box
          %a.white{:href => "https://item.mercari.com/jp/m90487871938/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{:alt => "コアウッドネックレス", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m90487871938_1.jpg?1544415959", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m90487871938_1.jpg?1544415959"}/
            .items-box-body
              %h3.items-box-name.font-2 コアウッドネックレス
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 3,500
                %p.item-box-tax (税込)
      .view-all
        %a.a_bottom{:href => "??????????????????????"} すべての商品を見る


  %section.all
    %section.items-box-container.clearfix
      %h3.text-center
        %a.a_top{:href => "????????????????????"}
          レディース 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a.white{:href => "https://item.mercari.com/jp/m74919097185/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "PRADA プラダ 二つ折り財布", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m38135245411_1.jpg?1543414161", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m38135245411_1.jpg?1543414161"}/
            .items-box-body
              %h3.items-box-name.font-2 PRADA プラダ 二つ折り財布
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 5,300
                .items-box-likes.font-2
                  %i.icon-like-border
                  %i.far.fa-heart
                  %span.item-box_likes-count 3
                %p.item-box-tax (税込)
        %section.items-box
          %a.white{:href => "https://item.mercari.com/jp/m75317488026/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "バーバリー スカート", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m75317488026_1.jpg?1540440334", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m75317488026_1.jpg?1540440334"}/
            .items-box-body
              %h3.items-box-name.font-2 バーバリー スカート
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 5,300
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span
                %p.item-box-tax (税込)
        %section.items-box
          %a.white{:href => "https://item.mercari.com/jp/m11926506700/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{:alt => "COLZA トップス 秋 茶色", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11926506700_1.jpg?1543417634", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m11926506700_1.jpg?1543417634"}/
            .items-box-body
              %h3.items-box-name.font-2 COLZA トップス 秋 茶色
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,100
                .items-box-likes.font-2
                  %i.icon-like-border
                  %i.far.fa-heart
                  %span.item-box_likes-count 4
                %p.item-box-tax (税込)
        %section.items-box
          %a.white{:href => "https://item.mercari.com/jp/m92396000322/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{:alt => "ボレロマフラー", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m32913770351_1.jpg?1544518851", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m32913770351_1.jpg?1544518851"}/
            .items-box-body
              %h3.items-box-name.font-2 ボレロマフラー
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 9,800
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span
                %p.item-box-tax (税込)
      .view-all
        %a.a_bottom{:href => "?????????????????????????"} すべての商品を見る

= render partial: 'items/shared/footer'
