.l-chapter-container_2 {
  background: #fff;
  width: 700px;
  height: 670px;
  float: right;
}

.l-chapter-head_2 {
  border-bottom: 1px solid #f5f5f5;
  font-size: 24px;
  padding-bottom: 5px;
  padding-top: 12px;
  text-align: center;
  font-weight: 600;
  height: 50px;
}

.l-single-inner_2 {
  padding: 64px;
  border-top: 1px solid #f5f5f5;
}

.l-single-content_2 {
  max-width: 320px;
  margin: 0 auto;
}

.form-group_2:first-child {
  margin: 0;
}

.form-group_2_lavel {
  display: inline-block;
  touch-action: manipulation;
  cursor: default;
}

.form-group_2 label {
  font-weight: 600;
  font-size: 14px;
}

.form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.form-group_2 .input-default_2 {
  width: 100%;
  margin: 8px 0 0;
}

.input-default_2 {
  height: 47px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  line-height: 1.5;
  font-size: 16px;
}

.has-error-text_2 {
  font-size: 14px;
  color: #ea352d;
  line-height: 1.5;
}

.has-error-text_2 ul {
  display: block;
  margin-block-start: 1em;
}

.signup-card-list {
  margin: 8px 0;
  font-size: 0;
}

.signup-card-list_2 li:first-child {
  margin: 0;
}

.signup-card-list_2 li {
  display: inline-block;
  vertical-align: middle;
  img {
    margin: 4px;
  }
}

.select-wrap-all {
  width: 100px;
  position: relative;
}

.signup-form-expire_2 .select-wrap_2 {
  display: inline-block;
  width: 120px;
}

.signup-form-expire_2 {
  margin: 25px 0 0 0;
}

.form-group_2 .select-wrap_2 {
    margin: 8px 0 0;
}

.select-wrap_2 {
  position: relative;
  background: #fff;
}

.form-group_2 select {
  width: 100%;
}

.select-default_2 {
  border: 1px solid #ccc;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
  }
}

.select-wrap_2.fa-angle-down {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
}

.signup-form-expire_2 .select-wrap_2+span {
  margin: 0 8px;
}

.fa-angle-down {
  font-size: 27px;
  float: right;
  position: absolute;
  bottom: 12px;
  right: 14px;
  color: #AAA;
}

.signup-seqcode_2 {
  position: relative;
  margin: 8px 0 0;
  width: 320px;
  height: 20px;
}

.signup-seqcode_2-text {
  color: #0099e8;
  font-size: 13px;
  float: right;
}

.form-question_2 {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: white;
  font-size: 12px;
  text-align: center;
  padding-left: 0;
  float: right;
}

.signup-seqcode_2-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 28px;
  z-index: 1;
  padding: 16px;
  border-radius: 6px;
  background: #eee;
  line-height: 1.5;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

.signup-seqcode_2-info img {
  margin: 8px 0 0;
  vertical-align: middle;
}

.l-single-content_2 p {
    margin: 8px 0 0;
    line-height: 1.5;
}

.l-single-inner_2 .btn-red {
  margin: 40px 0 0;
}

.signup-seqcode_2-info.is-show {
  visibility: visible;
  opacity: 1;
}

.span_month span {
  font-size: 15px;
}

.form-require span {
  font-size: 15px;
}

.span_year span {
  font-size: 15px;
}

.form-question_2 span {
  font-size: 15px;
}

.form-group_security{
  margin-top: 25px;
}

.aaa {

 color: #136FFF;
}

.form-question_2 {
  margin: 0 auto;
}



