.item__box-container{
  @include box-container();
  margin: 40px auto 0;
  .item-name{
    font-size: 23px;
    text-align: center;
    line-height: 1.4;
    word-wrap: break-word;
    font-weight: bold;
  }
  .item-main-content{
    margin: 16px 0 0;
    font-size: 0;
    .item-image{
      display: inline-block;
      background-color: #f5f5f5;
      .active-image{
        height: 300px;
        width: 300px;
        overflow: hidden;
        p{
          height: 300px;
          width: 1200px;
          img{
            height: 300px;
            width: 300px;
          }
        }
      }
      .images{
        width: 300px;
        height: 75px;
        ol{
          li{
            margin: 0;
            padding: 0;
            width: 25%;
            display: inline-block;
            img{
              width: 100%;
              height: 75px;
              opacity: 0.5;
            }
            .add-opacity{
              opacity: 1 !important;
            }

          }
        }
      }
    }
    .item-tabel{
      height:375px;
      width: 320px;
      margin: 0 auto;
      display: inline-block;
      vertical-align: top;
      .item-detail-table{
        display: block;
        padding-left: 20px;
        tbody{
          tr{
            border: 1px solid #f5f5f5;
            th{
              width: 39%;
              text-align: left;
              font-weight: 400;
              background-color: #fafafa;
              font-size: 14px;
              padding: 8px;
            }
            td{
              width: 61%;
              padding: 8px;
              font-size: 14px;
              line-height: 1.25;
              a{
                font-size: 12px;
              }
              div{
                .item-user-raiting{
                  text-align: left;
                  display: inline-block;
                  font-size: 16px;
                  margin-top:8px;
                  .icon{
                    margin-right: 4px;
                  }
                  .fa-smile{
                    color: red;
                  }
                  .fa-meh{
                    margin-left: 10px;
                    color: yellow;
                  }
                  .fa-frown{
                    margin-left: 10px;
                    color: blue;
                  }
                  span{
                    color: #333;
                    font-size: 14px;
                    vertical-align:top;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .item-price-box{
    margin: 24px 0 0;
    text-align: center;
    .item-price{
      font-size: 50px;
      margin-right: 16px;
      font-weight: 600;
    }
    .item-tax{
      font-size: 10px;
    }
    .item-shipping{
      font-size: 16px;
    }
  }

  .item-buy-btn{
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    height: 60px;
    line-height: 60px;
  }
  .disabled{
    background-color: #888;
    cursor: not-allowed;
  }

  .item-description{
    &-inner{
      white-space: pre-wrap;
      font-size: 18px;
    }
  }

  .item-button-list{
    button{
      @include item-detail-icon();
    }
    .flag{
      @include item-detail-icon();
      margin-left: 16px;
    }
    .lock{
      font-size: 14px;
      padding: 8px 16px;
      text-decoration: none;
      margin-left: 50px;
    }
  }
}

.item-detail-message{
  @include box-container();
  margin: 8px auto ;
  .message-container{
    .message-content{
      padding: 24px 0;
      .message-items{
        li{
          .message-user{
            display: inline-block;
            position: relative;
            top: -20px;
            left: -20px;
            figure{
              div{
                background-color: #f5f5f5;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
              }
              .message-user-unknown{

                img{

                  width: 32px;
                  height: 32px;
                  margin: 8px 0 0 4px;
                  vertical-align: bottom;
                }
              }
            }
          }
          .message-body{
            display: inline-block;
            position: absolute;
            width: 580px;
            padding: 16px;
            background-color: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            .message-body-text{
              font-size: 14px;

            }
            .message-icons{
              margin: 8px 0 0;
              font-size: 12px;
              .message-icon-left{
                display: block;
                color: #aaa;
                .icon-time{
                  vertical-align: middle;

                }
                span{
                  vertical-align: middle;
                }
              }
              .fa-clock{
              }
            }
            .icon-balloon{
              position: absolute;
              top: 8px;
              left: -9px;
              color: #eef0f4;
            }
          }
        }
      }
      form{
        p{
          font-size: 14px;
          background-color: #fff6de;
          padding: 8px;
        }
        textarea{
          margin-top: 8px;
          width: 100%;
          height: 104px;
          font-size: 16px;
          padding: 10px;
          line-height: 1.5;
          border: 1px solid #ccc;
          outline: 0;
        }
        input{
          width: 100%;
          margin: 8px 0 0;
          color: #fff;
          background-color: #aaa;
          line-height: 48px;
          font-size: 14px;
        }
      }

    }
  }
}

.nav-item-link{
  margin: 24px auto 0;
  width: 700px;
  font-size: 0;
  li{
    width: 50%;
    font-size: 14px;
    display: inline-block;
  }
  &-prev{
    text-align: left;
    padding-left: 14px;
  }
  &-next{
    text-align: right;
    padding-right: 14px;
  }
}

.item-social-media-box{
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background-color: #fff;
  text-align: center;
  ul{
    margin-top: 32px;
    li{
      display :inline-block;
      margin: 0 8px 8px 0;
      a{
        i{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
        }
        .fa-facebook-square{
          @include item-detail-button();
          background-color: #385185;
        }
        .fa-twitter{
          @include item-detail-button();
          background-color: #5d9dc9;
        }
        .fa-pinterest{
          @include item-detail-button();
          background-color: #aa262a;
        }
      }
    }
  }
}

  .items-in-user-profile{
    width: 700px;
    margin: 0 auto;
    .items-box-container{
      overflow: hidden;
      .items-box-head{
        margin: 24px 0 8px;
        font-size: 22px;
        line-height: 1.4;
        a{
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
      .items-box-content{
        display: inline-block;
        width: 33%;
        .items-box{
          width: 100%;
          margin: 0 0 20px;
          .items-link{
            width: 220px;
            height: 330px;
            display: block;
            color: #333;
            text-decoration: none;
            .items-box-photo{
              margin: 0;
              width: 220px;
              height: 220px;
              overflow-x: hidden;
              img{
                width: 220px;
                height: 100%;
              }
            }
            .items-box-body{
              background-color: #fff;
              padding: 16px;
              height: 110px;
              .items-box-name{
                overflow: hidden;
                font-weight: 400;
                height: 2.5em;
                line-height: 1.5;
                font-size: 14px;
              }
              .items-box-num{
                margin: 8px 0 0;
                display: block;
                content: "";
                clear: both;
                .items-box-price{
                  font-size: 20px;
                  font-weight: 600;
                  display: inline-block;
                  margin: 0;
                  padding: 0;
                }
                .items-box-likes{
                  font-size: 16px;
                  color: #333;
                  font-weight: 400;
                  display: inline-block;
                  margin-left: 100px;
                  i{
                    color: #eee;
                    font-weight: 400;
                    line-height: 1;
                  }
                  span{

                  }
                }
                .items-box-tax{
                  font-size: 8px;
                }
              }
            }
          }
        }
      }

body{
  background-color: #f5f5f5;
}
