.l-chapter-container-2:first-child {
  margin: 0;
}

.l-chapter-container-2 {
  margin: 40px 0 0;
  background: #fff;
  width: 700px;
  height: 360px;
  float: right;
}

.l-chapter-head-2 {
    padding: 12px 4%;
    border-bottom: 2px solid #f5f5f5;
    text-align: center;
    font-size: 24px;
}

.l-single-inner-2 {
  padding-top: 60px;
}

.red-btn-2 {
  background: #ea352d;
  border: 1px solid #ea352d;
}

.btn-default-2 {
  display: block;
  width: 320px;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  color: white;
  margin-right: 400px;
}

.fa-credit-card {
  color: white;
  font-size: 16px;
  padding-right: 10px;
}

.fa-angle-right {
  float: right;
  color: #4689FF;
  font-size: 21px;
}

.settings-add-card{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #f5f5f5;
}

.l-single-content-2 {
  margin-bottom: 34px;
  padding-left: 190px;
}

.l-chapter-sub-head {
  font-size: 16px;
  font-weight: 600;
}

.a_bottom {
  display: flex;
  padding-right: 73px;
}

.method_of_payment {
  color: #4689FF;
  font-size: 14px;
  padding-top: 3px;
  padding-right: 10px;
}

