.breadcrumb {
  background-color: white;
  margin-top: 1px;
  height: 50px;
  text-align: center;
  font-size: 13px;
  box-shadow: 0 0 0 5px;
  color: #bdb8c2;
  box-shadow:0px 0px 1px 3px #d2ced6;
  padding-left: 245px;
  padding-top: 15px;
}

.active {
  font-weight: bold;
  color: black;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: "＞";
  margin: 0 8px 0 0;
  font-size: 12px;
}

