.single-container{
  padding:0 0 250px;
  background-color: #f5f5f5;
  width: 100%;
  .single-header{
    text-align: center;
    height: 128px;
    h1{
      padding: 40px 0 0;
      a{
        width: 185px;
        height: 49px;
        line-height: 49px;
      }
    }
  }
  .single-main{
    .l-single-container{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      .l-single-head{
        padding:32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        border-bottom: solid 1px #f5f5f5;
        font-weight: bold;
      }
      .l-single-inner{
        padding: 64px;
        .l-single-content{
          max-width: 320px;
          margin: 0 auto;
          .form-group{
            margin: 0 0 40px 0;
            .text{
              font-weight: 600;
              display: inline-block;
            }
            .form-require{
              background-color: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            .input-default{
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
          }
          .not_robot{
            margin: 0 0 40px 0;
            height: 84px;
            width:  326px;
          }
        }
      }
    }
  }
  .single-footer{
    margin: 0 auto;
    width:456px;
    nav{
      ul{
        margin:30px auto;
        li{
          width:33%;
          list-style: none;
          float:left;
          font-size:12px;
          a{
            color: #333;
            &:hover{
              opacity:0.5;
            }
          }
        }
      }
    }
    nav{
      text-align: center;
      p{
        margin:10px 0;
      }
    }
  }
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
